* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 50rem;
}

.time {
    display: flex;
    gap: 1rem;
    font-size: 3rem;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

button {
    width: 25%;
    cursor: pointer;
    padding: 5px 1rem;
    border-radius: 2rem;
    /* border: none; */
    background-color: transparent;
    font-size: 2rem;
}

.lap-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    /* height: 10rem;
    overflow-y: scroll; */
}

.laps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.lap-time {
    display: flex;
    gap: 1rem;
}